<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kttx.kt.phoenix.platform.mapper.course.CourseSignupRuleMapper" >

    <!-- 公共sql -->
    <sql id="base_select_sql" >
        id AS id,
        gmt_create AS gmtCreate,
        gmt_modified AS gmtModified,
        course_id AS courseId,
        source_course_id AS sourceCourseId,
        name AS name,
        mobile AS mobile,
        mobile_validate AS mobileValidate,
        company AS company,
        industry AS industry,
        position AS position,
        extend_info AS extendInfo,
        remark AS remark,
        status AS status

    </sql>


    <!-- 根据courseId查询该课程报名需要什么信息 -->
    <select id="queryCourseSignupRuleByCourseId" parameterType="map" resultType="com.kttx.kt.phoenix.platform.domain.dos.CourseSignupRuleDO">
        SELECT
            <include refid="base_select_sql" />
        FROM
            kt_course_singup_rule
        WHERE
            course_id = #{courseId}
        AND source_course_id = #{sourceCourseId}
    </select>

</mapper>