<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kttx.kt.phoenix.platform.mapper.course.CourseBrowseMapper" >

    <!-- 公共sql -->
    <sql id="base_select_sql" >
        id AS id,
        gmt_create AS gmtCreate,
        gmt_modified AS gmtModified,
        course_id AS courseId,
        basic_course_id AS basicCourseId,
        user_id AS userId,
        enterprise_id AS enterpriseId,
        status AS status
    </sql>

    <!-- 根据courseId,userId 查询该学生浏览足迹是否有该课程 -->
    <select id="queryCourseBrowseByCourseIdAndUserId" parameterType="map" resultType="java.lang.Integer">
        SELECT
            COUNT(id)
        FROM
            kt_course_browse
        WHERE
            user_id = #{userId}
        <if test="courseId != null" >
            AND course_id = #{courseId}
        </if>
        <if test="basicCourseId != null" >
            AND basic_course_id = #{basicCourseId}
        </if>
    </select>

    <!-- 收藏课程的添加&更新 -->
    <insert id="insertOrUpdateCourseBrowse" parameterType="com.kttx.kt.phoenix.platform.domain.dos.CourseBrowseDO">
        <selectKey keyProperty="count" resultType="int" order="BEFORE">
            SELECT
                count(*)
            FROM
                kt_course_browse cb
            WHERE
                cb.user_id = #{userId}
            <if test="courseId != null" >
                and cb.course_id = #{courseId}
            </if>
            <if test="basicCourseId != null" >
                and cb.basic_course_id = #{basicCourseId}
            </if>
        </selectKey>
        <if test="count > 0">
            update
                kt_course_browse cb
            set
                gmt_modified = now()
                ,status = #{status}
            WHERE
                cb.user_id = #{userId}
            <if test="courseId != null" >
                AND cb.course_id = #{courseId}
            </if>
            <if test="basicCourseId != null" >
                AND cb.basic_course_id = #{basicCourseId}
            </if>
        </if>
        <if test="count==0">
            INSERT INTO
            kt_course_browse
            (gmt_create, gmt_modified, course_id, basic_course_id, enterprise_id, user_id, status)
            VALUES
            (now(), now(), #{courseId}, #{basicCourseId}, #{enterpriseId}, #{userId}, #{status})
        </if>
    </insert>


</mapper>