<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kttx.kt.phoenix.platform.mapper.index.BannerMapper" >

    <!-- 测试数据 -->
    <select id="queryBannerList" parameterType="java.util.Map" resultType="com.kttx.kt.phoenix.platform.domain.dos.BannerDO">
        SELECT
            id AS id,
            gmt_create AS gmtCreate,
            gmt_modified AS gmtModified,
            creator_id AS creatorId,
            creator AS creator,
            modifier_id AS modifierId,
            modifier AS modifier,
            enterprise_id AS enterpriseId,
            type AS type,
            position AS position,
            img_url AS imgUrl,
            img_link AS imgLink,
            extend_info AS extendInfo,
            status AS status
        FROM
            kt_sys_banner
        WHERE
            enterprise_id = #{enterpriseId}
        AND status = #{status}
    </select>

</mapper>